body {
	text-align: center;
	font-family: sans-serif;
	background: #005555;
}

#logo {
	width: 200px;
	height: 90px;
}

.cabecera {
	background: #069A8E;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: sans-serif;
}

.navegacion a {
	padding-right: 30px;
	text-decoration: none;
	color: white;
}

a:hover {
	color: #1E2BDC;
}

.Techno {
	font-weight: 1000;
	font-size: 60px;
	color: white;
	border: solid 3px #FFFFFF;
	padding: 0.2em;
	border-radius: 0.5em;
	font-size: 60px;
}

.oferta {
	color: white;
	align-items: center;
}

p {
	font-weight: 600;
}

.navegacion a {
	padding-right: 30px;
	text-decoration: none;
	color: white;
}

a:hover {
	color: #3621B8;
}

.noved {
	width: 70%;
}

.precio {
	color: #991212;
	font-weight: 800
}

.present {
	padding: 45px;
}

.contenedor-novedad {
	display: flex;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	justify-content: space-evenly;
	background: #A1E3D8;
	border-radius: 10px;
	text-align: center;
}

.tabla {
	margin: 30px auto;
	background: #069A8E;
	border-radius: 15px;
}

.item-novo {
	flex-basis: calc(33.3% - 100px);
	align-items: center;


}

.item-novo img {
	margin: 0px 10px;
	transition: 1s;
	border-radius: 15px
}

.item-novo h1 {
	font-weight: 1200;
}

h2 {
	padding-top: 30px;
}

.formulario {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

#ima {
	width: 93%;
}

#ima2 {
	width: 79%;
}

.celda {
	margin-left: auto;
	margin-right: auto;
	padding: 3%;
}

footer {
	width: 100%;
	padding: 50px 0px;
	background: #267158;
	font-family: sans-serif;
}

.contenedor-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;

}

.box-footer {
	display: flex;
	flex-direction: column;
	padding: 10px;

}

.box-footer .logo images {
	width: 180px;
}

.box-footer .terms {

	max-width: 350px;
	margin-top: 20px;
	font-weight: 500;
	color: white;
	font-size: 18px;
}

.box-footer h2 {
	margin-bottom: 30px;
	color: black;
	font-weight: 700;
}

.box-footer {
	color: white;
}

.box-footer a {
	margin-top: 10px;
	color: white;
	text-decoration: none;
	font-weight: 600;

}

.box-footer a:hover {
	color: #1E2BDC;
}

#wps {
	width: 50px;
	height: 40px;
}

.box-copyright {
	max-width: 1200px;
	margin: auto;
	text-align: center;

}

.box-copyright p {

	color: white;
}

.box-copyright hr {
	border: none;
	height: 1px;
	background-color: white;
}